##### ____________ Knowledge Discovery and Data Mining (CS 513 B) __________
##### _____________________________ FINAL EXAM _____________________________

##### Course: CS 513 B
##### First Name: JANMEJAY
##### Last Name: MOHANTY
##### ID: 20009315
##### Purpose: Final

Problem 3 - (20 points)
Use the C5.0 Forest methodology to develop a classification model for the “State” (target), using the Returns_pct1 to 
Returns_pct6 features in the “AL_NJ_Income_pct dataset.

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score, f1_score
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('AL_NJ_Income_PCT.csv')

In [3]:
df.head()

,STATEFIPS,STATE,zipcode,Returns_pct1,Returns_pct2,Returns_pct3,Returns_pct4,Returns_pct5,Returns_pct6,total
0,1,AL,35004,28.98,27.06,18.23,12.48,12.09,1.15,5210
1,1,AL,35005,42.26,30.97,14.52,6.45,5.81,0.00,3100
2,1,AL,35006,35.83,27.50,15.83,10.00,10.83,0.00,1200
3,1,AL,35007,34.09,22.19,15.24,11.22,15.24,2.01,11940
4,1,AL,35010,45.76,26.17,11.25,6.70,7.84,2.28,7910

In [4]:
df.isna().sum()

STATEFIPS       0
STATE           0
zipcode         0
Returns_pct1    0
Returns_pct2    0
Returns_pct3    0
Returns_pct4    0
Returns_pct5    0
Returns_pct6    0
total           0
dtype: int64

In [5]:
lb = LabelEncoder()
df['STATE'] = lb.fit_transform(df['STATE'])

In [6]:
X = df.iloc[:,3:9]
Y = df['STATE']

In [7]:
X

,Returns_pct1,Returns_pct2,Returns_pct3,Returns_pct4,Returns_pct5,Returns_pct6
0,28.98,27.06,18.23,12.48,12.09,1.15
1,42.26,30.97,14.52,6.45,5.81,0.00
2,35.83,27.50,15.83,10.00,10.83,0.00
3,34.09,22.19,15.24,11.22,15.24,2.01
4,45.76,26.17,11.25,6.70,7.84,2.28
...,...,...,...,...,...,...
1162,23.88,22.39,19.40,11.94,17.91,4.48
1163,23.25,13.63,10.22,9.02,24.85,19.04
1164,50.37,30.12,10.18,3.89,4.21,1.23
1165,29.67,22.66,14.69,10.27,17.09,5.62
1166,27.90,20.66,14.63,9.95,17.50,9.35

In [8]:
Y

0       0
1       0
2       0
3       0
4       0
       ..
1162    1
1163    1
1164    1
1165    1
1166    1
Name: STATE, Length: 1167, dtype: int32

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [10]:
DT = DecisionTreeClassifier(criterion='entropy')

In [11]:
DT.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [12]:
y_pred = DT.predict(X_test)

In [13]:
print(classification_report(y_test,y_pred, target_names=['AL','NJ']))

              precision    recall  f1-score   support

          AL       0.76      0.74      0.75       188
          NJ       0.71      0.74      0.72       163

    accuracy                           0.74       351
   macro avg       0.74      0.74      0.74       351
weighted avg       0.74      0.74      0.74       351

1. What is the accuracy of your model? <br>
2. What is the precision of the model? <br>
3. What is the recall of the model? <br>
4. What is the F1 of the model? <br>

In [14]:
print('Accuracy: ', accuracy_score(y_test,y_pred))
print('Precision: ', precision_score(y_test,y_pred))
print('Recall: ', recall_score(y_test,y_pred))
print('F1: ', f1_score(y_test,y_pred))

Accuracy:  0.7378917378917379
Precision:  0.7100591715976331
Recall:  0.7361963190184049
F1:  0.7228915662650602

In [15]:
y_test = lb.inverse_transform(y_test)
y_pred = lb.inverse_transform(y_pred)

5. Show the cross tabulation of the classification.

In [16]:
pd.crosstab(y_test,y_pred, colnames=['STATE'], rownames=['STATE'])

STATE   AL   NJ
STATE
AL     139   49
NJ      43  120